svg {
  border: 1px solid blue;
}

.success {
	color: white;
	background: green;
}

.info {
	color: white;
	background: #55f;
}

.warning {
	color: black;
	background: orange;
}

.alert {
	color: white;
	background: red;
}

.error {
	color: red;
}
